[run]
source = neuralib
omit =
    */neuralib/argp/*
    */neuralib/dashboard/*
    */neuralib/persistence/*
    */neuralib/segmentation/*
    */neuralib/model/*
    */neuralib/atlas/brainrender/*
    */neuralib/tools/*
    */neuralib/util/gpu.py
    */neuralib/util/profile.py

[report]
omit =
    */neuralib/argp/*
    */neuralib/dashboard/*
    */neuralib/persistence/*
    */neuralib/segmentation/*
    */neuralib/model/*
    */neuralib/atlas/brainrender/*
    */neuralib/tools/*
    */neuralib/util/gpu.py
    */neuralib/util/profile.py