# atlas
allensdk
brainrender
vedo
iblatlas
anytree

# scanner
xmltodict
aicspylibczi

# calimg
scanimage-tiff-reader
suite2p
sbxreader

# segmentation
cellpose==3.0.5
stardist
csbdeep
roifile
napari

# model
rastermap

# track
facemap
neuropop

# gui
bokeh>=3.3.0

# gpu
torch
tensorflow

# profile/resource
memory_profiler
psutil
numba

# imglib
pdf2image
imageio

# tools
slackclient
gspread