# atlas
allensdk
brainrender==2.1.5
vedo
iblatlas

# scanner
aicspylibczi
roifile==2022.3.18

# calimg
scanimage-tiff-reader
suite2p
sbxreader

# segmentation
cellpose==3.0.5
stardist

# wrapper
facemap
rastermap
neuropop

# gui
bokeh>=3.3.0

# GPUs
torch
tensorflow