numpy~=1.23
scipy~=1.9.1
matplotlib~=3.7.1
opencv-python~=4.8.0.76
pandas~=1.5.0
polars~=0.20.0
pyarrow
tqdm~=4.62.3
requests
attrs~=23.1.0
psutil
scikit-image
memory_profiler
scikit-learn~=1.2.2
setuptools~=65.6.3
seaborn~=0.12.1
filterpy~=1.4.5
numba
joblib
plotly~=5.14.1
starlette~=0.25.0
gspread~=5.7.2
rich~=10.10.0
colorama~=0.4.4
tornado~=6.1
tifffile~=2023.4.12









